# OS-specific
.DS_Store
*.local

# Environment files
.env

# Python
__pycache__/
.venv/
.pytest_cache/

# Gradle
.gradle/
build/
!**/src/main/**/build.gradle  # keep only actual build.gradle files if needed

# IntelliJ IDEA / Android Studio
.idea/
*.iml

# Test Reports & Results
*.bin
*.lock
*.class
*.html
*.xml
*.js
*.css

# Specific build/data folders
build/data/minio/
build/data/postgres/
build/data/weaviate/
build/data/grafana/
build/data/prometheus/

# Helm build artifacts
infra/helm/team-sigma/dashboards/
infra/helm/team-sigma/prometheus/